@import url('https://unpkg.com/purecss@1.0.1/build/forms-min.css');
@import url('https://unpkg.com/purecss@1.0.1/build/buttons-min.css');

.pure-input-rounded {
  width: 30vw;
}

.pure-comments {
  box-sizing: border-box;

  ul.comments-list {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 3vh;
    padding-bottom: 3vh;

    li {
      padding: 1vw;
      margin-left: 2vw;
      margin-bottom: 2vh;
      display: flex;
      flex-direction: column;
      position: relative;
      border: 1px solid #d0d0d0;
      box-shadow: 0 2px 0 #e6e6e6;

      .comment-info {
        display: flex;

        img.author-avatar {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          position: absolute;
          left: -2.5vw;
          z-index: 2;
          background: #FFF;
        }

        .comment-meta {
          padding-left: 2.0vw;
          margin-bottom: 2.5vh;

          .author-name {
            display: block;
            font-weight: 700;
            margin-bottom: 1vh;
          }
        }
      }

      .comment-content {
        margin-left: 2.0vw;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .pure-form {
    fieldset {
      legend {
        color: rgba(255, 255, 255, 0.75);
        margin-bottom: 2vh;
      }
    }

    .pure-control-group {
      button, input, optgroup, select, textarea {
        color: #333;
      }
    }
  }

  .pure-comments {
    ul.comments-list {
      border-bottom: 1px solid #2b2f36;

      li {
        border: 1px solid #2b2f36;
        box-shadow: 0 2px 0 #e6e6e6;

        .comment-info {
          img.author-avatar {
            background-color: #191B1E;
          }
        }
      }
    }
  }
}
